* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: solid black;
    text-align: center;
    align-items: center;
    /* padding: 50px; */
    /* margin: 300px; */
    /* margin-top: 50px; */
}

/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
    div {
        padding: 20px;
        margin: 20px;
        margin-top: 10px;
    }
}

/* Tablets (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    div {
        padding: 30px;
        margin: 50px;
        margin-top: 20px;
    }
}

/* Desktop devices (1025px and up) */
@media (min-width: 1025px) {
    div {
        padding: 50px;
        margin: 300px;
        margin-top: 50px;
    }
}
